body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#black {
  height: 100vh;
  width: 100vw;
}

#dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: max-content;
  font-family: Inter;
  font-weight: 800;
  font-size: 32px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}